<form name="contact-form" accept-charset="utf-8" action="https://formspree.io/f/xyyagyqq" method="post">
  <div class="measure">
    <input type="text" name="name" id="full-name" placeholder="Name" class="input-reset bb b--dashed bl-0 bt-0 br-0 black-90 hover-red link pa2 mb2 db w-100" required="">
    <input type="email" name="_replyto" id="email-address" placeholder="Email" class="input-reset bb b--dashed bl-0 bt-0 br-0 black-90 hover-red link pa2 mb2 db w-100" required="">
    <textarea rows="5" name="message" id="message" placeholder="Type your message here." class="input-reset bb b--dashed bl-0 bt-0 br-0 black-90 hover-red link pa2 mb2 db w-100 mw-100" required=""></textarea>
    <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
    <input type="submit" value="Submit" class="b ph3 pv2 input-reset hover-red ba b--black bg-transparent pointer f6 link">
  </div>
</form>
