<div class="fl w-100 pt2 pb4">
  <div class="fl w-100 w-20-l pb4 pb0-l ma0">
    <h2 class="f5 f4-m f3-l fw1 lh-copy mt0">CV</h2>
  </div>
  <div class="fl w-100 w-80-l pb3 pb0-l ma0">
    {% for item in site.data.bio %}
      <p class="lh-copy measure-l measure-wide-l mt0 mt1-l">{{ item.birthplace }}</p>
      <p class="lh-copy measure-l measure-wide-l mt0">{{ item.education }}</p>
      <p class="lh-copy measure-l measure-wide-l mt0">{{ item.current_city }}</p>
    {% endfor %}
    {%-include cv-item.html collection=site.data.cv.entries-%}
    <p class="lh-copy dib">—</p>
  </div>
</div>