<div class="fl w-100 pt2 pb4 bb bn-ns">
  <div class="fl w-100 w-20-ns pb4 pb0-ns ma0"> 
    <h1 class="f5 f4-m f3-l fw1 lh-copy mt0">Legal</h1>
  </div>
  <div class="fl w-100 w-80-ns pb0-ns ma0">
    <p class="lh-copy measure-ns measure-wide-l mt0 mt1-l">
      <!--<a href="#" class="bb b--dashed bl-0 bt-0 br-0 black-90 hover-red link ma0 sans-serif">Privacy Notice</a>-->
      <!--</br>-->
      &copy; {{ site.time | date: '%Y' }} George Chapman</p>
    <p class="dn di-ns">—</p>
  </div>
</div>