{% assign strPage = page.url | remove: ".html" | split: "/" | slice: 1 %}
<nav class="dtc dn-l dt--fixed v-mid mt2 w-100">
  <div class="flex flex-column tl w-100 w-70-l">
    {% for item in site.data.navigation %}
    {% assign strLink = item.url | remove: ".html" | split: "/" | slice: 1 %}
      <a 
        href="{{ item.url }}" 
        {% if page.url == "/" and item.name == "Home" %}
          class="f5 black-90 hover-red link mr2 pb1 bb bw1 mb2"
          aria-current="page"
        {% elsif strPage == strLink %}
          class="f5 black-90 hover-red link mr2 pb1 bb bw1 mb2"
          aria-current="page"
        {% else %}
          class="f5 black-90 hover-red link mr2 mb2"
        {% endif %}
        >{{ item.name }}</a>
    {% endfor %}
  </div>
</nav>
