<nav class="dt dt--fixed v-mid mt2 w-100">
  <div class="dtc tl w-50">
    {% for item in site.data.navigation %}
      {% if item.name != "About" %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="f5 f4-m f3-l black-90 hover-red link mr2 mr3-l sans-serif pb1 bb bw1"{% else %}class="f5 f4-m f3-l black-90 hover-red link mr2 mr3-l sans-serif"{% endif %}>
          {{ item.name }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="dtc tr w-50">
    {% for item in site.data.navigation %}
      {% if item.name == "About" %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="f5 f4-m f3-l black-90 hover-red link mr2 mr3-l sans-serif pb1 bb bw1"{% else %}class="f5 f4-m f3-l black-90 hover-red link mr2 mr3-l sans-serif"{% endif %}>
          {{ item.name }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</nav>
