<form
  name="newsletter-signup-form"
  accept-charset="utf-8"
  action="https://formspree.io/f/mwkjevwz"
  method="post"
  >
  <input type="email" name="email" id="newsletter-email" placeholder="Email" class="fl input-reset bb b--dashed bl-0 bt-0 br-0 black-90 hover-red link pa2 mb2 db w-100 w-75-m w-70-l mr3 bg-baby-powder" required="">
  <input type="submit" value="Subscribe" class="fl b mt2 pv2 input-reset hover-red ba b--black bg-transparent pointer f6 link w-25 w-20-l bg-baby-powder">
</form>
