<form
  name="newsletter-signup-form"
  accept-charset="utf-8"
  action="https://formspree.io/f/mwkjevwz"
  method="post"
  >
  <div class="measure">
    <input type="email" name="email" id="newsletter-email" placeholder="Subscribe to newsletter" class="input-reset bb b--dashed bl-0 bt-0 br-0 black-90 hover-red link pa2 mb2 db w-100 bg-baby-powder" required="">
    <input type="submit" value="Subscribe" class="sans-serif b ph3 pv2 input-reset hover-red ba b--black bg-baby-powder pointer f6 link black-90">
  </div>
</form>
