---
layout: default
---

{% assign filtered_posts = site.exhibitions | where_exp: "post",
"post.date <= site.time" %} {% assign sorted_posts = filtered_posts |
sort: 'post_date' | reverse %} {% for item in sorted_posts limit:1 %}
<section class="mw7 mw9-l center pt4">
  <article class="flex flex-column flex-row-l">
    <div class="w-50-l order-1 order-2-l">
      <img
        src="{{ site.url }}/assets/img/{{ item.image }}"
        alt="{{ item.image_caption }}"
        class="dib"
      />
      <p class="f7 f6-m f5-l tl">{{ item.image_caption }}</p>
    </div>
    <div class="fl w-50-l pr4-l order-2 order-1-l">
      <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt-l bw2">
        {{ item.category }}
      </h1>
      <h2 class="f3 lh-title">{{ item.location }}</h2>
      <time class="f6 ttu tracked">{{ item.exhibition_dates }}</time>
      <div class="db pb4">
        <p class="f5 lh-copy measure">{{ item.description }}</p>
      </div>
      <span class="dib">
        <a
          href="{{ item.permalink | absolute_url }}"
          class="dib sans-serif b ph3 pv2 input-reset hover-red ba b--black bg-baby-powder pointer f6 link black-90"
          aria-label="Read more about {{ item.title }}"
          >Read more</a
        >
      </span>
    </div>
  </article>
</section>
{% endfor %}
